nav {
    width: 100%;
    position: absolute;
    top: 0;
    height: 55px;
    background-color: #fcfcfc;
}

ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
    padding: 0 121px;
}

ul li a:hover {
    color: #a1a1a1;
}

.texthousevalue {
    position: absolute;
    Bottom: 100px;
    Left: 50%;
}

.texthouseoverview {
    position: absolute;
    Bottom: 100px;
    Left: 50%;
    }

.text {
    position: absolute;
    Bottom: 100px; 
}