{% load static %}
<html>

<head>
  <title>Log In</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

  <div class="main">

    <img class="logocolour" src="{% static 'img/logocolourreal.png' %}"/>

    <form class="form1" method="POST" action="{% url 'loginpro' %}">
    {%csrf_token%}
      <input class="un " type="text" align="center" placeholder="Username" name="email">
      <input class="pass" type="password" align="center" placeholder="Password" name="password">
      <input type="submit" class="submit" value="Log In" name="login">
      <p class="forgot" align="center"><a href="{% url 'forgot' %}">Forgot Password?</a></p>
    </form>
  </div>

</body>

</html>